#payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #payment-form h1 {
    text-align: center;
  }
  
  #card-element {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
  
  #card-element input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #card-element select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #payment-form button {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #payment-form button:hover {
    background-color: #0056b3;
  }

  #title {
    text-align: center;
  }

  